{% extends "base.html" %}

{% block head %}
    <style>
        .text {margin-top: 80px; font-size: 20px; margin-left: 120px; margin-right: 180px;
        text-align: justify; margin-bottom: -60px;}
        @media (max-width:825px) {
            .text {margin-left: 40px; margin-right: 40px;}
        }
    </style>
{% endblock %}

{% block content %}
<h1 style="text-align: center; margin-bottom: -30px; text-transform: uppercase;">КУРСЫ ПО {{language}}</h1>
<h2 style="text-align: center; margin-bottom: -30px; margin-top: 50px;">Документация</h2>
<div style="display: flex;">
    <div style="margin-top: 70px; margin-left: -20px; margin-bottom: auto;" class="btn btn-group-vertical">
        <a style="background: #e6e6fa;" href="/courses" class="btn btn-light">
            <img width="40" height="40" src="/static/img/courses_icon.png"><br>Курсы</a>
        <a style="background: #e6e6fa;" href="/forum" class="btn btn-light">
            <img width="40" height="40" src="/static/img/forum_icon.png"><br>Форум</a>
        <a style="background: #e6e6fa;" href="/itnews" class="btn btn-light">
            <img width="40" height="40" src="/static/img/news_icon.png"><br>Новости IT</a>
        <a style="background: #e6e6fa;" href="/settings" class="btn btn-light">
            <img width="40" height="40" src="/static/img/settings_icon.svg"><br>Настройки</a>
        <a href="https://vk.com/pr0duct_khokhlov" target="_blank" style="background: #c8a2c8;" class="btn btn-light">PRODUCT<br>KHOKHLOV</a>
    </div>
    <div>
    {% for i in doc %}
        <div class="text">{{i}}</div>
    {% endfor %}
    </div>
    </div>
    <a style="margin-left: 43%; margin-top: 90px;" href="/courses/{{language}}/course/{{num}}"
       class="btn btn-primary">Перейти к задачам</a>
{% endblock %}
