{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block content %}
<h1 style="text-align: center; margin-bottom: -30px;">Форум</h1>
    <div style="display: flex;">
    <div style="margin-top: 70px; margin-left: -20px; margin-bottom: auto;" class="btn btn-group-vertical">
        <a style="background: #e6e6fa;" href="/courses" class="btn btn-light">
            <img width="40" height="40" src="/static/img/courses_icon.png"><br>Курсы</a>
        <a style="background: #e6e6fa;" href="/forum" class="btn btn-light">
            <img width="40" height="40" src="/static/img/forum_icon.png"><br>Форум</a>
        <a style="background: #e6e6fa;" href="/itnews" class="btn btn-light">
            <img width="40" height="40" src="/static/img/news_icon.png"><br>Новости IT</a>
        <a style="background: #e6e6fa;" href="/settings" class="btn btn-light">
            <img width="40" height="40" src="/static/img/settings_icon.svg"><br>Настройки</a>
        <a href="https://vk.com/pr0duct_khokhlov" target="_blank" style="background: #c8a2c8;" class="btn btn-light">PRODUCT<br>KHOKHLOV</a>
    </div>
<div style="display: inline; margin-left: 40px;">
<p style="font-size: 30px; font-family: FF Trixie; margin-top: 70px;">Вопрос:</p>
<div style="margin-top: 38px; background-color: #f5f5f5; width: 300%;
     margin-right: 25px; padding-left: 50px; padding-top: 40px; padding-bottom: 40px;"
     class="col-md6 border rounded">
    <h4>{{title}}</h4>
    <h6>{{question}}</h6>
</div>
<a href="/forum/answere_on_question/{{num_id}}"
   style="margin-top: 30px; font-family: FF Trixie; font-size: 20px;" class="btn btn-light">ответить</a>
<p style="font-size: 30px; font-family: FF Trixie; margin-top: 4%;">Ответы:</p>
{% for i in range(0, count) %}
<div style="margin-top: 38px; background-color: #f5f5f5;
         margin-right: 25px; padding-left: 50px; padding-top: 40px; padding-bottom: 40px;"
     class="col-md6 border rounded">
    <h5>{{user_name[i]}}:</h5><br>
    <h6>{{answers[i]}}</h6>
</div>
{% endfor %}
{% if count == 0 %}
<div>На данный вопрос никто не ответил ):</div>
{% endif %}
    </div>
    </div>
{% endblock %}
