{% extends "base.html" %}

{% block head %}
<style>
.down_img {text-align: center; margin-top: -70px;}
.main_text {font-size: 27px; margin-top: 7%; margin-left: 40px;}
.down_text {font-size: 27px; margin-top: 50px; margin-left: 40px; margin-right: 400px;}
.header_down_text {margin-left: 40px; margin-top: 100px;}
@media (max-width:1367px) {
    .down_img {margin-left: 20%; text-align: left; margin-top: -70px;}
}
@media (max-width:1157px) {
    .win_reg {display: none;}
    .main_text {position: relative; margin: 0 auto; text-align: center;
    margin-left: 12%; margin-right: 12%; margin-top: 100px;}
    .down_text {position: relative; margin: 0 auto; text-align: center;
    margin-left: 12%; margin-right: 12%; margin-top: 50px;}
    .down_img {text-align: center; margin-top: 120px; margin-left: 0%;}
    .header_down_text {text-align: center; margin-top: 150px;}
}
@media (max-width:715px) {
    .main_text {position: relative; margin: 0 auto; text-align: center;
    margin-left: 12%; margin-right: 12%; margin-top: 50px;}
    .down_img {text-align: center; margin-top: 70px; margin-left: 0%;}
    .header_down_text {margin-top: 100px;}
}
</style>
{% endblock %}

{% block content %}
<div style="display: flex;">
<p class="main_text"><b>LEVEL UP</b> - это бесплатные курсы по программированию,
    пройдя которые вы сможете создавать:
    игры, приложения, сайты и многое другое, вообщем станете на уровень выше.
    Проходя курсы Вы будете решать интереснейшие задачи,
    зарабатывать рейтинг, а так же проводить время с пользой!</p>
<div class="win_reg" style="border: 1px solid black; margin-left: 10%; padding-right: 100px; padding-left: 100px;
    margin-right: 10%; margin-top: 20px;">
    <p style="font-size: 30px; text-align: center; margin-top: 4%;">Зарегистрироваться</p>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.email.label(style="margin-left: -25%;") }}<br>
        {{ form.email(class="form-control", style="margin-left: -25%; width: 150%;", type="email") }}<br>
        {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label(style="margin-left: -25%;") }}<br>
        {{ form.password(class="form-control", style="margin-left: -25%; width: 150%;", type="password") }}<br>
        {% for error in form.password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password_again.label(style="margin-left: -25%;") }}<br>
        {{ form.password_again(class="form-control", style="margin-left: -25%; width: 150%;", type="password") }}<br>
        {% for error in form.password_again.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.name.label(style="margin-left: -25%;") }}<br>
        {{ form.name(class="form-control", style="margin-left: -25%; width: 150%;") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", style="width: 50%; margin-left: 25%;", class="btn btn-primary") }}</p>
</form>
</div>
</div>
<div class="down_img">
    <img src="static/img/down.png" height="90" width="90" style="">
</div>
<h1 class="header_down_text">РЕШЕНИЕ ВАШИХ ЗАДАЧ!</h1>
<p class="down_text">Так же, мы можем помочь вам в исправлении вашего кода, в
    решении ваших задач, за небольшую плату.<br><br>Для подачи заявки на исправление вашего кода / решения вашей задачи, напишите в сообщения сообщества во ВКонтаке или в Telegram.</p>
<div style="margin-left: 40px; margin-top: 50px; margin-bottom: 50px;">
    <a target="_blank" href="https://vk.com/im?media=&sel=-186830734"><img src="static/img/vk_logo.png" height="100" width="100"></a>
    <a target="_blank" href="https://t.me/khokhl0v"><img style="margin-left: 5%;" src="static/img/telegram.png" height="100" width="100"></a>
</div>





<!--<nav style="text-align: center; background-color: rgb(248, 249, 250); margin-top: 50px;">-->
<!--<a style="margin-top: 30px; margin-bottom: 40px;" class="btn btn-light" href="https://vk.com/pr0duct_khokhlov" target="_blank">PRODUCT KHOKHLOV</a>-->
<!--</nav>-->
{% endblock %}