{% extends "base.html" %}

{% block content %}
<h1 style="margin-top: 30px; text-align: center;">Регистрация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.email.label(style="margin-left: 10%;") }}<br>
        {{ form.email(class="form-control", style="margin-left: 10%; width: 80%;", type="email") }}<br>
        {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label(style="margin-left: 10%;") }}<br>
        {{ form.password(class="form-control", style="margin-left: 10%; width: 80%;", type="password") }}<br>
        {% for error in form.password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password_again.label(style="margin-left: 10%;") }}<br>
        {{ form.password_again(class="form-control", style="margin-left: 10%; width: 80%;", type="password") }}<br>
        {% for error in form.password_again.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.name.label(style="margin-left: 10%;") }}<br>
        {{ form.name(class="form-control", style="margin-left: 10%; width: 80%;") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", style="width: 50%; margin-left: 25%;", class="btn btn-primary") }}</p>
    {% if message != "" %}
    <p class="alert alert-danger" style="margin-left: 10%; width: 80%;">{{ message }}</p>
    {% endif %}
</form>
{% endblock %}